header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header svg {
  color: var(--white);
  width: 20px;
  height: 20px;
}

h1 {
  color: var(--white);
  font-weight: 500;
  font-size: 2em;
}
h6 {
  font-weight: 200;
  font-size: 0.6rem;
}

/* .top-section {
  padding: 10px;
} */

div.opacity {
  background: rgba(46, 45, 45, 0.5);
  border-radius: 3px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: auto;
  /*  background-color: rgb(26, 25, 25); */
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 8px;
}

.box img {
  max-width: 80px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.box_title {
  margin-left: 5px;
  color: var(--white);
  font-weight: 500;
  font-size: 1.3em;
}

.large-boxes {
  display: flex;
  padding: auto;
}

.large-boxes_box {
  display: flex;
  flex-direction: column;
  color: var(--white);
  width: 100%;
  font-size: 1rem;
}

.large-boxes_box-title {
  padding: 8px 0;
  margin: auto;
}

.large-boxes_box-title-description {
  font-weight: 200;
  font-size: 0.6rem;
}

.large-boxes_box img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
